
.h3{
    font-size: 1.75rem;
    text-align: center;
}

 .footer{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

.done .center {

    vertical-align: middle;
    border-style: none;
    width: 600px;
    height: 450px;
    display: block;
    margin-top: 5%;

}
.form-control{
    height: 35px; !important
	border-radius: 10px;
border-color: #a2a2a2;
border-style: solid;
}
.Agents{
	    background: #e6e6e6;
}
.button{
margin-left: 6px;
}
.done{
	margin-left: 12px;
}
.agents1{
	font
}